<!doctype html>
<html>
    <head>
        <title>Taller JsRender</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <script src="js/lib/jquery-1.11.2.js"></script>
        <script src="js/lib/jsrender.min.js"></script>
        <script src="js/main.js"></script>
    </head>
    <body>
        <div class="row">

        </div>

        <script id="curso" type="text/x-jsrender">
            <div col="col-xs-12">
                <h1>{{:nombreTaller}}</h1>
                <h3>{{:descripcionTallerJS}}</h3>
            </div>
        </script>

    </body>
</html>

